{% extends "base.html" %}

{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/pages/stats.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <form id="filter-form" class="form-inline" method="post" role="form"
              action="{% url 'stats:month-ajax' %}">
            {% csrf_token %}
            <h2 class="form-signin-heading">Месечная статистика количества посещений</h2>
            {{ form.non_field_errors }}

            <div class="form-group">
                {{ form.month.errors }}
                <select class="form-control" name="month" id="id_month">
                    {% for choice in form.month.field.choices %}
                        <option {% if choice.0 == form.month.field.initial %}selected{% endif %}
                                value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                {{ form.year.errors }}
                <select class="form-control" name="year" id="id_year">
                    {% for choice in form.year.field.choices %}
                        <option {% if choice.0 == form.year.field.initial %}selected{% endif %}
                                value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn btn-default" type="submit">Сформировать статистику</button>
        </form>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Специальность</th>
                <th>Кол-во талонов</th>
                <th>Кол-во пациентов</th>
            </tr>
            </thead>
            {% for specialty in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'stats:month-speciality'%}?speciality={{ specialty.pk }}&month={{ current_date.month }}&year={{ current_date.year }}">
                        {{ specialty.name }}
                    </a></td>
                    <td>{{ specialty.tickets }}</td>
                    <td>{{ specialty.patients }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

